<!DOCTYPE html>
<html lang="en_US">
  <head>
    <meta charset="utf-8">
    <script defer src="../static/js/main.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <link rel="shortcut icon" type="image/jpg" href="media/img/favicon2.png"/>
    <title id="title"></title>
  </head>
  <body>
    <div class="col-2">
      <header>
        header
      </header>
      <main class="content">
      <div id="about" class= "container">
      </div>
      </main>
      <footer>Footer</footer>
    </div>
  </body>
</html>
