<!DOCTYPE html>
<html lang="en_US">
  <head>
    <meta charset="utf-8" />
    <script
      src="https://kit.fontawesome.com/06375180ee.js"
      crossorigin="anonymous"
    ></script>
    <script defer src="../static/js/main.js"></script>
    <link
      rel="stylesheet"
      type="text/css"
      href="../static/css/scss/style.css"
    />
    <link
      rel="shortcut icon"
      type="image/jpg"
      href="../media/img/favicon2.png"
    />
    <title id="title"></title>
  </head>
  <body>
    <div class="col-2">
      <header class="header">
        <h1 class="logo"><a href="home.html">エスプレッソ・メイド</a></h1>
        <button id="menu-btn" class="menu-btn">Menu</button>
      </header>
      <nav id="primary-nav" class="menu">
        <ul id="menu-items">
          <li><a href="home.html">Home</a></li>
          <li><a href="blog.html">Blog</a></li>
          <li><a href="tech.html">Tech</a></li>
          <li><a href="anime.html">Anime</a></li>
          <li><a href="coffee.html">Coffee</a></li>
        </ul>
      </nav>
      <main class="content">
        <h1 id="title-el" class="title-el typing-ani">
          Articles related to Technology and Programming
        </h1>
        <div id="container" class="container">
          <div id="sample post" class="post-div">
            <h2 id="sample title" class="post-title">Cock and Ball Torture!</h2>
            <p id="sample author date" class="post-author-date">
              Author: EspressoMaid, Date: 08.08.2021
            </p>
            <img src="../media/img/coffee_section_header.gif" class="post-img"
            <p id="sample body" class="post-body">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi, a
              fugiat neque illum iusto ut inventore similique recusandae maiores
              exercitationem perspiciatis consequatur debitis molestiae
              dignissimos esse necessitatibus quos. Maxime, dignissimos. Lorem
              ipsum dolor sit amet consectetur adipisicing elit. Error nisi nihil
              natus beatae cum! Molestias quia velit praesentium voluptates non
              omnis pariatur voluptatum, consequatur, dolor reprehenderit
              voluptatem repudiandae repellendus temporibus! Lorem ipsum dolor sit
              amet, consectetur adipisicing elit. Animi, a fugiat neque illum
              iusto ut inventore similique recusandae maiores exercitationem
              perspiciatis consequatur debitis molestiae dignissimos esse
              necessitatibus quos. Maxime, dignissimos. Lorem ipsum dolor sit amet
              consectetur adipisicing elit. Error nisi nihil natus beatae cum!
              Molestias quia velit praesentium voluptates non omnis pariatur
              voluptatum, consequatur, dolor reprehenderit voluptatem repudiandae
              repellendus temporibus! <br />
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi, a
              fugiat neque illum iusto ut inventore similique recusandae maiores
              exercitationem perspiciatis consequatur debitis molestiae
              dignissimos esse necessitatibus quos. Maxime, dignissimos. Lorem
              ipsum dolor sit amet consectetur adipisicing elit. Error nisi nihil
              natus beatae cum! Molestias quia velit praesentium voluptates non
              omnis pariatur voluptatum, consequatur, dolor reprehenderit
              voluptatem repudiandae repellendus temporibus!Lorem ipsum dolor sit
              amet, consectetur adipisicing elit. Animi, a fugiat neque illum
              iusto ut inventore similique recusandae maiores exercitationem
              perspiciatis consequatur debitis molestiae dignissimos esse
              necessitatibus quos. Maxime, dignissimos. Lorem ipsum dolor sit amet
              consectetur adipisicing elit. Error nisi nihil natus beatae cum!
              Molestias quia velit praesentium voluptates non omnis pariatur
              voluptatum, consequatur, dolor reprehenderit voluptatem repudiandae
              repellendus temporibus! <br />
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi, a
              fugiat neque illum iusto ut inventore similique recusandae maiores
              exercitationem perspiciatis consequatur debitis molestiae
              dignissimos esse necessitatibus quos. Maxime, dignissimos. Lorem
              ipsum dolor sit amet consectetur adipisicing elit. Error nisi nihil
              natus beatae cum! Molestias quia velit praesentium voluptates non
              omnis pariatur voluptatum, consequatur, dolor reprehenderit
              voluptatem repudiandae repellendus temporibus!
            </p>
          </div>
          <div id="sample post" class="post-div">
            <h2 id="sample title" class="post-title">Cock and Ball Torture!</h2>
            <p id="sample author date" class="post-author-date">
              Author: EspressoMaid, Date: 08.08.2021
            </p>
            <img src="../media/img/coffee_section_header.gif" class="post-img"
            <p id="sample body" class="post-body">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi, a
              fugiat neque illum iusto ut inventore similique recusandae maiores
              exercitationem perspiciatis consequatur debitis molestiae
              dignissimos esse necessitatibus quos. Maxime, dignissimos. Lorem
              ipsum dolor sit amet consectetur adipisicing elit. Error nisi nihil
              natus beatae cum! Molestias quia velit praesentium voluptates non
              omnis pariatur voluptatum, consequatur, dolor reprehenderit
              voluptatem repudiandae repellendus temporibus! Lorem ipsum dolor sit
              amet, consectetur adipisicing elit. Animi, a fugiat neque illum
              iusto ut inventore similique recusandae maiores exercitationem
              perspiciatis consequatur debitis molestiae dignissimos esse
              necessitatibus quos. Maxime, dignissimos. Lorem ipsum dolor sit amet
              consectetur adipisicing elit. Error nisi nihil natus beatae cum!
              Molestias quia velit praesentium voluptates non omnis pariatur
              voluptatum, consequatur, dolor reprehenderit voluptatem repudiandae
              repellendus temporibus! <br />
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi, a
              fugiat neque illum iusto ut inventore similique recusandae maiores
              exercitationem perspiciatis consequatur debitis molestiae
              dignissimos esse necessitatibus quos. Maxime, dignissimos. Lorem
              ipsum dolor sit amet consectetur adipisicing elit. Error nisi nihil
              natus beatae cum! Molestias quia velit praesentium voluptates non
              omnis pariatur voluptatum, consequatur, dolor reprehenderit
              voluptatem repudiandae repellendus temporibus!Lorem ipsum dolor sit
              amet, consectetur adipisicing elit. Animi, a fugiat neque illum
              iusto ut inventore similique recusandae maiores exercitationem
              perspiciatis consequatur debitis molestiae dignissimos esse
              necessitatibus quos. Maxime, dignissimos. Lorem ipsum dolor sit amet
              consectetur adipisicing elit. Error nisi nihil natus beatae cum!
              Molestias quia velit praesentium voluptates non omnis pariatur
              voluptatum, consequatur, dolor reprehenderit voluptatem repudiandae
              repellendus temporibus! <br />
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi, a
              fugiat neque illum iusto ut inventore similique recusandae maiores
              exercitationem perspiciatis consequatur debitis molestiae
              dignissimos esse necessitatibus quos. Maxime, dignissimos. Lorem
              ipsum dolor sit amet consectetur adipisicing elit. Error nisi nihil
              natus beatae cum! Molestias quia velit praesentium voluptates non
              omnis pariatur voluptatum, consequatur, dolor reprehenderit
              voluptatem repudiandae repellendus temporibus!
            </p>
          </div>
        </div>
      </main>
      <footer id="footer" class="footer">
        <a href="https://github.com/espressomaid" target="blank"
          ><i class="fab fa-github"></i>Github</a
        >
        <a href="https://github.com/espressomaid" target="blank"
          ><i class="fas fa-globe"></i>MyAnimeList</a
        >
        <p><i class="fas fa-envelope"></i>: espressomaid@protonmail.com</p>
      </footer>
    </div>
  </body>
</html>
