@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap");
@import "variables";

.col-2 {
  display: flex;
  flex-direction: column;
  flex: 5;
  white-space: unset;
}
.content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  background-color: $torquise-landing;
  height: 100vh;
}

h1.logo a {
  color: #d8d8d8;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 2rem;
  line-height: 22px;
  float: left;
  letter-spacing: 0.2em;
}
/* Header*/
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
/*navigation*/

.menu-btn {
  display: block;
  color: #d8d8d8;
  font-size: 1em;
  background-color: transparent;
  border: 0.2em solid #d8d8d8;
  padding: 0.3em;
}

.menu {
  display: none;
  background-color: $pink-landing;
  ul {
    :hover {
      color: $pink-landing;
      background-color: #d8d8d8;
    }
  }
  li {
    list-style: none;
    color: #d8d8d8;
    font-size: 1.6rem;
    border-bottom: 1px solid #d8d8d8;
    display: block;
    a {
      width: 100%;
      text-decoration: none;
      display: block;
    }
  }
  :visited {
    color: #d8d8d8;
  }
}

.menu-toggle {
  display: block;
}
/* Footer */
.footer {
  color: #d8d8d8;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  :link {
    color: #d8d8d8;
    text-decoration: none;
  }
  :visited {
    color: #d8d8d8;
  }
}

/* general */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "JetBrains Mono", monospace;
  overflow: auto;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: row;
  margin: 0;
}

header,
footer {
  background: $pink-landing;
}
header,
footer,
article {
  padding: 1em;
}

/* normal screens */

@media screen and (min-height: 1024px) {
  h1.logo a {
    color: #d8d8d8;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 5rem;
    line-height: 7rem;
    float: left;
    letter-spacing: 0.2em;
  }
  /* Header*/
  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  /*navigation*/

  .menu-btn {
    display: block;
    color: #d8d8d8;
    font-size: 3rem;
    background-color: transparent;
    border: 0.3em solid #d8d8d8;
    padding: 0.3em;
  }

  .menu {
    display: none;
    background-color: $pink-landing;
    ul {
      :hover {
        color: $pink-landing;
        background-color: #d8d8d8;
      }
    }
    li {
      list-style: none;
      color: #d8d8d8;
      font-size: 4rem;
      border-bottom: 5px solid #d8d8d8;
      display: block;
      a {
        width: 100%;
        text-decoration: none;
        display: block;
      }
    }
    :visited {
      color: #d8d8d8;
    }
  }

  .menu-toggle {
    display: block;
  }
  /* Content */
  .content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: $torquise-landing;
    height: 100vh;
    h1 {
      font-size: 6rem;
    }
    p {
      font-size: 3rem;
    }
  }

  /* Footer */
  .footer {
    font-size: 2.5rem;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    :link {
      text-decoration: none;
    }
    :visited {
      color: hotpink;
    }
  }
}
